body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #2e7dd2;
}

.bg-image {
    background-color: #111111;
    background-image: url("../img/background.JPG");
    -webkit-filter: blur(8px);
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.bookmark-wrapper {
    position: absolute;
    width: 100vw;
    height: auto;
    max-height: 85%;
    left: 0;
    top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 25px;
}

.bookmarks-box {
    padding: 10px 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}
.bookmarks-box-child{
    height: auto;
    overflow-y: auto;
}


.bookmark-wrapper button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    outline: none;
    border-color: #fff517;
    border-style: solid;
    border-width: 2px;
    background: transparent;
    color: #ffffff;
}

.my-10 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.canvas-bounce{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}